:root{
    --maincolor:#10375f;
    --secondarycolor:#163755;
    
    --bordercolor:#164d56;

    --mainText:#fff;
    --secondaryText:#eeee;

    --themedotborder:#fff;
    --previewBG:rgb(25,39,52,0.8);
    --previewShadow:#111921; 
    --buttonColor: #17a2b8;
}