:root{
    --maincolor:#eaeaea;
    --secondarycolor:#fff;
    
    --bordercolor:#c1c1c1;

    --mainText:black;
    --secondaryText:#4b5156;

    --themedotborder:#24292e;
    --previewBG:rgb(251,249,243,0.8);
    --previewShadow:#f0ead6; 
    --buttonColor: black;
}

html,body{
    padding: 0;
    margin: 0;
}
body *{
    transition: 0.3s;
}
h1,h2,h3,h4,h5,h6,strong{
    color: var(--mainText);
    font-family: 'Russo One', sans-serif;
    font-weight: 500;
}
p,li,span,label,input,textarea{
    color: var(--mainText);
    font-family: 'Roboto Mono', monospace;
}
a{
    text-decoration: none;
    color: #17a2bB;
}
h1 {font-size: 56px;}
h2 {font-size: 36px;}
h3 {font-size: 28px;}
h4 {font-size: 24px;}
h5 {font-size: 20px;}
h6 {font-size: 16px;}
.s1{
    background-color: var(--maincolor);
    border-bottom: 1px solid var(--bordercolor);
    overflow:auto;
}
.s2{
    background-color: var(--secondarycolor);
    border-bottom: 1px solid var(--bordercolor);
    overflow:auto;
}
.s3{
    background-color: var(--secondarycolor);
    border-bottom: 1px solid var(--bordercolor);
    overflow:auto;
}

.main-container{
    width: 1200px;
    margin: 0 auto;
}

.greeting-wrapper{
    display: grid;
    /* border: 2px dashed lightcoral; */
    min-height: 10em;
    /* justify-content: center; */
    text-align: center;
    align-content: center;
}

.introwrapper{
    background-color: var(--secondarycolor);
    border: 1px solid var(--bordercolor);
    border-radius: 5px 5px 0 0;


    -webkit-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
    box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* grid-auto-rows: 3em 30em; */
    grid-template-areas: 
        "navwrapper navwrapper"
        "leftcolumn rightcolumn"
    ;

}
.navwrapper{
    grid-area: navwrapper;
    border-bottom: 1px solid var(--bordercolor);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--maincolor);
    border-radius: 5px 5px 0 0;   
}
#navigation{
    margin: 0;
    padding: 10px;
    text-align: right;
}
#navigation a{
    color: var(--mainText);
}
#navigation li{
    display: inline;
    margin-right: 5px;
    margin-left: 5px;
    align-items: center;
}
.dots-wrapper{
    display: flex;
    padding: 10px;
}
.browser-dot{
    background-color: black;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    margin: 5px;
    -webkit-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
    box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);

}
#dot1{
    background-color: #FC6058;
}
#dot2{
    background-color:#FEC02F;
}
#dot3{
    background-color: #2aca3e;
}
.leftcolumn{
    grid-area: leftcolumn;
    padding-top: 50px;
    padding-bottom: 50px;
    
}
#profile_pic{
    display: block;
    margin: 0 auto;
    height: 200px;
    width: 200px;
    object-fit: cover;
    border: 2px solid var(--bordercolor);
}
#theme-options-wrapper{
    display: flex;
    justify-content: center;
}
.theme-dot{
    height: 30px;
    width: 30px;
    background-color: black;
    border-radius: 50%;
    cursor: pointer;
    margin: 5px;
    border: 2px solid var(--themedotborder);
    -webkit-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
    box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
}
.theme-dot:hover{
    border-width: 5px;
}
#light-mode{
    background-color: #fff;
}
#blue-mode{
    background-color:#192734;
}
#green-mode{
    background-color: #78866b;
}
#purple-mode{
    background-color: #7E4C74;
}
#setting-note{
    font-size: 12px;
    font-style: italic;
    text-align: center;
}
.rightcolumn{
    grid-area: rightcolumn;
    display: grid;
    align-content: center;
    padding-top:50px;
    padding-bottom: 50px;
    
}
#preview-shadow{
    background-color:var(--previewShadow);
    width: 300px;
    height: 180px;
    padding-left: 30px;
    padding-top: 30px;
}
#preview{
    width: 300px;
    border: 1.5px solid #17a2b8;
    background-color: var(--previewBG);
    padding: 15px;
    position: relative;

}
.corner{
    width: 7px;
    height: 7px;
    border-radius: 50%;
    border: 1.5px solid #17a2b8; ;
    background-color: #fff;
    position: absolute;

}
#corner-tl{
    top: -5px;
    left: -5px;
}
#corner-tr{
    top: -5px;
    right: -5px;
}
#corner-br{
    bottom: -5px;
    right: -5px;
}
#corner-bl{
    bottom: -5px;
    left: -5px;
}
.about-wrapper{
    display: grid;
    padding-bottom: 50px;
    padding-top: 50px;
    gap: 100px;
    grid-template-columns: repeat(auto-fit,minmax(320px,1fr));
}
#skills{
    display: flex;
    justify-content: space-evenly;
    background-color: var(--previewShadow);
}
.social-links{
    display: grid;
    align-content: center;
    text-align: center;

}
#social_image{
    width: 100%;
    border-radius: 3%;
}
#youicon{
    width: 20%;
}
#insta{
    width: 7%;
}
#icons{
    width: 8%;
    align-items: center;
}
#icon{
    width: 25%;
   
}
.post-wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(360px,1fr));
    gap: 20px;
    justify-content: center;
}
.post{
    border: 3px solid var(--bordercolor);
    -webkit-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
    box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
    /* border-radius: 15; */

}
.post-preview{
    background-color: #fff;
    padding: 10px;
}
.post-tittle{
    color: black;
    margin: 0%;

}
.post-intro{
    color: #4b5156;
    font-size: 16px; 
}
.thumbnail{
    width: 100%;
    height: 300px;
    display: block;
    object-fit: fill;
}
#contact-form{
    display: block;
    max-width: 600px;
    margin: 0 auto;
    border: 1px solid var(--bordercolor);
    padding: 15px;
    border-radius: 5px;
    background-color: var(--maincolor);
    margin-bottom: 50px;
    align-items: center;
}
#contact-form label{
    line-height: 2.7em;
}
#contact-form textarea{
    min-height: 100px;
    font-size: 14px;

}
.input-field{
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: var(--secondarycolor);
    border-radius: 5px;
    border: 1px solid var(--bordercolor);
    font-size: 14px;
}
#submit-btn{
    margin-top: 10px;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #fff;
    background-color: var(--buttonColor);
    border: none;
}


@media screen and (max-width: 1200px) {
    .main-container{
        width: 95%;
    }
}
@media screen and (max-width: 800px) {
    .introwrapper{
        grid-template-columns: 1fr;
        grid-template-areas: 
            "navwrapper"
            "leftcolumn" 
            "rightcolumn"
        ;
    
    }
    .rightcolumn{
        justify-content: center;
    }
}